@import "tailwindcss";
@plugin "daisyui";

:root {
  font-family: "Space Grotesk", sans-serif;
}

body {
  background-color: white;
}

.container {
  margin: 0 auto;
}

.text-stroke {
  -webkit-text-stroke: 2px red;
}

